.main-chat
  .main-chat__group
    .main-chat__group__current
      .main-chat__group__current__name
        = @group.name
      %ul.main-chat__group__current__member
        %li.main-chat__group__current__member__list
          Menber: 
          - @group.users.each do |user|
            = user.name
    .main-chat__group__btn
      = link_to edit_group_path(current_user.id) do
        Edit

  .main-chat__message
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__content
        = f.text_field :content, class: 'main-chat__form__content__message', placeholder: 'type a message'
        .main-chat__form__content__block
          = f.label :image, class: ".main-chat__form__content__block__imege" do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: "hidden"
      = f.submit 'Send', class: 'main-chat__form__btn'